<section class="contact">

            <div class="center">

                <div class="box">

                    <i class="fa fa-envelope-o background-icon"></i>

                    <div class="padding">

                        <h3 class="slim centered">¿Tienes <strong>alguna pregunta?</strong> <span class="highlight">Contacta con nosotros!</span></h3>
                        <form method="post" class="form" data-title="New contact form from your website" data-client-name-field="Name" data-client-email-field="E-mail">

                            <input type="text" name="Name" placeholder="Name..." class="form-field" />

                            <input type="text" name="Phone" placeholder="Phone..." class="form-field half-width half-width-left" />
                            <input type="text" name="E-mail" placeholder="E-mail..." class="form-field half-width" />

                            <textarea name="Message" rows="5" cols="5" placeholder="Message..." class="form-field"></textarea>

                            <button class="button form-send" type="button">Envia un mensaje</button>

                            <div class="thanks-lay">

                                <div class="thanks-lay-helper">
                                </div>

                                <div class="thanks-lay-content">

                                    <div class="thanks-lay-content-sending">

                                        <div class="thanks-lay-icon">

                                            <i class="fa fa-cog fa-spin"></i>

                                        </div>

                                        Enviando...

                                    </div>

                                    <div class="thanks-lay-content-sent">

                                        <div class="thanks-lay-icon">

                                            <i class="fa fa-check"></i>

                                        </div>

                                        Tu mensaje ha sido enviado. Gracias!

                                        <span class="thanks-lay-close">Cierra este mensaje</span>

                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

                <div class="content">

                    <div class="middle">

                        <p><strong>Construcciones Matias Gomez:</strong><br /> 1234 Example, Segovia, 40001</p>
                        <p><strong>Contacto:</strong> Matias Gomez</p>
                        <p><a href="mailto:matias@gmail.com">matias@gmail.com</a><br /> <br /></p>

                        <div class="fb-like" data-href="https://www.facebook.com/envato" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

                    </div>

                    <div class="right">

                        <h2><a href="tel:626942968">626 942 968</a></h2>
                        <p>Llamanos! Disponibilidad 8:00am - 4:00pm</p>

                    </div>

                    <div class="clear">
                    </div>

                </div>

                <div class="clear">
                </div>

            </div>

        </section>
