<section class="double-content without-border-bottom">

            <div class="center">

                <div class="left">

                    <a href="tel:123456789000" class="quick-call-parent">

                        <div class="quick-call">

                            <div class="quick-call-icon">

                                <i class="fa fa-phone"></i>

                            </div>

                            <h5><span class="highlight highlight-up">Call the Advisor</span> (+123) 456 789 000</h5>

                            <div class="clear">
                            </div>
                        
                        </div>

                    </a>

                    <p class="centered without-margin-bottom"><a href="/contact.html">or send an email »</a></p>

                </div>

                <div class="right">

                    <h3 class="slim without-margin-top"><span class="highlight highlight-up">Vivamus ac ornare</span> Already have a <strong>project?</strong></h3>
                    <p class="without-margin-bottom">Maecenas scelerisque vel neque sit amet dictum. Phasellus ultrices consequat iaculis. Vestibulum viverra nec quam id ultrices. Cras porta, urna id viverra mattis.</p>

                </div>

            </div>

        </section>
