<section class="double-content without-border-bottom">

            <div class="center">

                <div class="left">

                    <a href="tel:123456789000" class="quick-call-parent">

                        <div class="quick-call">

                            <div class="quick-call-icon">

                                <i class="fa fa-phone"></i>

                            </div>

                            <h5><span class="highlight highlight-up">Llamanos</span> <a href="tel:626942968">626 942 968</a></h5>

                            <div class="clear">
                            </div>
                        
                        </div>

                    </a>

                    <p class="centered without-margin-bottom"><a href="/contact.html">o envianos un mail »</a></p>

                </div>

                <div class="right">

                    <h3 class="slim without-margin-top">Tienes algún <strong>proyecto?</strong></h3>
                    <p class="without-margin-bottom">Maecenas scelerisque vel neque sit amet dictum. Phasellus ultrices consequat iaculis. Vestibulum viverra nec quam id ultrices. Cras porta, urna id viverra mattis.</p>

                </div>

            </div>

        </section>
