<header class="header-v1">
    <div class="top">
        <div class="center">
            <div class="left">
                <a href="/index.html">
                    <img src="{{ " /assets/img/logo.png " |  prepend: site.baseurl }}" alt="Reformas Matias Gomez" class="logo">
                </a>
            </div>
            <div class="right">
                <div class="quick-call">
                    <a href="tel:123456789000" class="quick-call-parent">
                        <div class="quick-call-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </a>
                    <h5><a href="tel:123456789000" class="quick-call-parent"><span class="highlight highlight-up">Llamanos</span> </a>
                        <a
                            href="tel:626942968">626 942 968</a>
                    </h5>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bottom">

                <div class="center">

                    <nav>

                        <ul class="menu">

                            <li class="active"><a href="/index.html">Home</a></li>
                            <li class="with-submenu">

                                <a href="/services.html">Servicios <i class="fa fa-caret-down"></i></a>
                                <ul class="submenu">

                                    <li><a href="/services.html">All services</a></li>
                                    <li><a href="/services-sidebar-left.html">Sidebar on left side</a></li>
                                    <li><a href="/services-sidebar-right.html">Sidebar on right side</a></li>

                                </ul>

                            </li>
                            <li class="with-submenu">

                                <a href="/projects-3-columns.html">Proyectos <i class="fa fa-caret-down"></i></a>
                                <ul class="submenu">

                                    <li><a href="/projects-3-columns.html">All projects, 3 columns</a></li>
                                    <li><a href="/projects-4-columns.html">All projects, 4 columns</a></li>
                                    <li><a href="/single-project-version-1.html">Single project v1</a></li>
                                    <li><a href="/single-project-version-2.html">Single project v2</a></li>
                                    <li><a href="/single-project-version-3.html">Single project v3</a></li>
                                    <li><a href="/single-project-version-4.html">Single project v4</a></li>

                                </ul>

                            </li>
                            <li><a href="/gallery.html">Galeria</a></li>
                            <li class="with-submenu">

                                <a href="/about-company.html">Sobre nosotros <i class="fa fa-caret-down"></i></a>
                                <ul class="submenu">

                                    <li><a href="/about-company.html">Sobre nuestra compañia</a></li>
                                    <li><a href="/careers.html">Careers</a></li>

                                </ul>

                            </li>
                            <li><a href="/news.html">Noticias</a></li>
                            <li class="with-submenu">

                                <a href="/landing-page.html">Paginas <i class="fa fa-caret-down"></i></a>
                                <ul class="submenu">

                                    <li><a href="/landing-page.html">Landing page</a></li>
                                    <li><a href="/get-a-quote.html">Get a Quote</a></li>
                                    <li><a href="/multiple-contacts.html">Multiple Contacts</a></li>
                                    <li><a href="/faq.html">FAQ</a></li>
                                    <li class="with-submenu">

                                        <a href="#"><i class="fa fa-caret-left"></i> Submenu</a>
                                        <ul class="submenu">

                                            <li><a href="#">Submenu</a></li>
                                            <li class="with-submenu">

                                                <a href="#"><i class="fa fa-caret-left"></i> Submenu</a>
                                                <ul class="submenu">

                                                    <li><a href="#">Submenu</a></li>
                                                    <li><a href="#">Submenu</a></li>
                                                    <li><a href="#">Submenu</a></li>

                                                </ul>

                                            </li>
                                            <li><a href="#">Submenu</a></li>

                                        </ul>

                                    </li>
                                    <li><a href="/404-black.html">404 page - black</a></li>
                                    <li><a href="/404-white.html">404 page - white</a></li>
                                    <li><a href="/coming-soon-black.html">Coming soon - black</a></li>
                                    <li><a href="/coming-soon-white.html">Coming soon - white</a></li>

                                </ul>

                            </li>
                            <li><a href="/contact.html">Contact</a></li>

                        </ul>

                    </nav>

                    <div class="multilingual" data-name="Change language:">

                        <span class="current-language">EN <i class="fa fa-caret-down"></i></span>
                        <ul class="possible-languages">

                            <li><a href="#">DE</a></li>
                            <li><a href="#">FR</a></li>

                        </ul>

                    </div>

                </div>

            </div> -->
</header>