<section class="heading-slider" data-interval="5000" data-heading-slider-id="1">

            <div class="heading-slider-images">

                <div class="heading-slider-image" style="display: none; background-image: url('assets/img/construction1_small.jpg');" data-heading-slider-image-id="1">

                    <div class="center">

                        <div class="heading-content heading-left">

                            <div class="heading-helper">
                            </div>

                            <div class="heading">

                                <i class="fa fa-home background-icon"></i>

                                <h3 class="slim">Home <strong>Constructions</strong> <span class="highlight">Professional Wooden Frames</span></h3>
                                <p class="without-margin-bottom"><a href="/get-a-quote.html" class="button">Get a free Quote <i class="fa fa-paper-plane-o"></i></a></p>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="heading-slider-image" style="display: block; background-image: url('assets/img/construction2_small.jpg');" data-heading-slider-image-id="2">

                    <div class="center">

                        <div class="heading-content">

                            <div class="heading-helper">
                            </div>

                            <div class="heading">

                                <i class="fa fa-cog background-icon"></i>

                                <h3 class="slim">Home <strong>Renovations</strong> <span class="highlight">We are good in what we do.</span></h3>
                                <p class="without-margin-bottom"><a href="/get-a-quote.html" class="button">Get a free Quote <i class="fa fa-paper-plane-o"></i></a></p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="navigation">
            </div>

        </section>
