<section class="offer">

    <div class="center">

        <h2 class="slim">¿Que podemos <strong>ofrecerte?</strong> <span class="highlight">Mira nuestra oferta</span></h2>

        <div class="values">

            <div class="values-prev"><i class="fa fa-chevron-left"></i></div>
            <div class="values-next"><i class="fa fa-chevron-right"></i></div>

            <div class="values-slider-container">

                <div class="values-slider">

                    <div class="value-single">

                        <span class="number">01</span>
                        <h3 class="slim">Construction <strong>Planning</strong></h3>

                        <p>Nam luctus justo ac leo feugiat, et pharetra ipsum pulvinar. Vestibulum congue, nulla nec suscipit ultricies, massa velit volutpat.</p>
                        <p class="without-margin-bottom"><a href="/services-sidebar-left.html">Read more</a></p>

                    </div>

                    <div class="value-single">

                        <span class="number">02</span>
                        <h3 class="slim">Kitchen <strong>Furniture</strong></h3>

                        <p>Donec aliquam sem non nisl sodales lacinia. Nulla imperdiet nulla id ante pellentesque, id tristique risus dictum efficitur aliquet.</p>
                        <p class="without-margin-bottom"><a href="/services-sidebar-right.html">Read more</a></p>

                    </div>

                    <div class="value-single">

                        <span class="number">03</span>
                        <h3 class="slim"><strong>Hardwood Flooring</strong></h3>

                        <p>Vestibulum ligula purus, vestibulum sed orci et, mollis pulvinar lorem. Duis quis venenatis sem, at congue eros. Sed cursus felis vitae.</p>
                        <p class="without-margin-bottom"><a href="/services-sidebar-left.html">Read more</a></p>

                    </div>

                    <div class="value-single">

                        <span class="number">04</span>
                        <h3 class="slim">Wooden <strong>Constructions</strong></h3>

                        <p>Donec aliquam sem non nisl sodales lacinia. Nulla imperdiet nulla id ante pellentesque, id tristique risus dictum efficitur aliquet.</p>
                        <p class="without-margin-bottom"><a href="/services-sidebar-right.html">Read more</a></p>

                    </div>

                    <div class="value-single">

                        <span class="number">05</span>
                        <h3 class="slim">Tiling and <strong>Painting</strong></h3>

                        <p>Vestibulum ligula purus, vestibulum sed orci et, mollis pulvinar lorem. Duis quis venenatis sem, at congue eros. Sed cursus felis vitae.</p>
                        <p class="without-margin-bottom"><a href="/services-sidebar-left.html">Read more</a></p>

                    </div>

                    <div class="value-single">

                        <span class="number">06</span>
                        <h3 class="slim"><strong>Preconstructions</strong></h3>

                        <p>Vestibulum ligula purus, vestibulum sed orci et, mollis pulvinar lorem. Duis quis venenatis sem, at congue eros. Sed cursus felis vitae.</p>
                        <p class="without-margin-bottom"><a href="/services-sidebar-right.html">Read more</a></p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
