<section class="presentation presentation-filtered with-additional-padding-top">
    <div class="center">
        <h2 class="slim"><strong>Proyectos</strong> finalizados<span class="highlight"></span></h2>
        <ul class="presentation-filter">
            <li class="filter filter-active" data-filter="*">All</li>
            <li class="filter" data-filter=".presentation-filter-buildings">Construcciones</li>
            <li class="filter" data-filter=".presentation-filter-renovations">Renovaciones</li>
        </ul>
        <div class="presentation-box presentation-box-4-columns">
            {% for post in site.posts %}
            <div class="presentation-box-single presentation-filter-{{ post.categories }}" style="background-image: url( '{{ post.main_image |  prepend: site.baseurl }}' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim"><strong>{{ post.title }}</strong> <span class="highlight">{{ post.categories }}</span></h4>
                    <p class="without-margin-bottom">
                        <a href="{{ post.url |  prepend: site.baseurl }}"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div>

            {% endfor %}
            <!-- <div class="presentation-box-single presentation-filter-buildings" style="background-image: url( 'assets/img/image.png' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim"><strong>Family Home</strong> <span class="highlight">Construction</span></h4>
                    <p class="without-margin-bottom">
                        <a href="/single-project-version-4.html"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div>
            <div class="presentation-box-single presentation-filter-buildings" style="background-image: url( 'assets/img/image.png' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim"><strong>Wooden House</strong> <span class="highlight">Construction</span></h4>
                    <p class="without-margin-bottom">
                        <a href="/single-project-version-1.html"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div>
            <div class="presentation-box-single presentation-filter-buildings" style="background-image: url( 'assets/img/image.png' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim"><strong>Ohio Villa</strong> <span class="highlight">Construction</span></h4>
                    <p class="without-margin-bottom">
                        <a href="/single-project-version-3.html"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div>
            <div class="presentation-box-single presentation-filter-renovations" style="background-image: url( 'assets/img/image.png' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim"><strong>Cobblestones</strong> <span class="highlight">Renovation</span></h4>
                    <p class="without-margin-bottom">
                        <a href="/single-project-version-1.html"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div>
            <div class="presentation-box-single presentation-filter-buildings" style="background-image: url( 'assets/img/image.png' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim">Roof <strong>Construction</strong> <span class="highlight">Construction</span></h4>
                    <p class="without-margin-bottom">
                        <a href="/single-project-version-4.html"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div>
            <div class="presentation-box-single presentation-filter-renovations" style="background-image: url( 'assets/img/image.png' );">
                <div class="presentation-box-single-caption">
                    <h4 class="slim">Ceramic Tile <strong>Replacement</strong> <span class="highlight">Renovation</span></h4>
                    <p class="without-margin-bottom">
                        <a href="/single-project-version-1.html"><span class="circle-link"><i class="fa fa-link"></i></span></a>
                        <span class="circle-link circle-link-image"><i class="fa fa-search"></i></span>
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</section>