<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include loader.html %}
    <div class="wrapper wrapper-wide">
        {% include header.html %}
        {% include header-slider.html %}
        {% include offer.html %}
        {% include have-a-project.html %}
        {% include image-parallax.html %}
        {% include contact.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
        {% include footer.html %}

    </div>
    {% include scripts.html %}
  </body>

</html>
